/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 de out. de 2023, 20:45:45
    Author     : win
*/
form{
    padding: 30px 20px;
    margin: 20px auto 0;
    width: 30vw;
    border-radius: 25px;
    background: #FEFEFEFE;
    text-align:center;
    box-shadow: 0px 1px 5px #000A;
}
.input-field{
    padding: 10px 5px;
    margin: 5px auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.input-field input, select{
    padding: 4px 2px;
    width: 60%;
}
.submit{
    justify-content: center;
}
.submit input{
    padding: 5px;
    border-radius: 10px;
}
