body{
    text-align: center;
}
#title-lista{
    background: rgb(255,255,255);
background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 22%, rgba(255,255,255,0.9122023809523809) 50%, rgba(255,255,255,0) 78%);
background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 22%, rgba(255,255,255,0.9122023809523809) 50%, rgba(255,255,255,0) 78%);
background: linear-gradient(90deg, rgba(255,255,255,0) 22%, rgba(255,255,255,0.9122023809523809) 50%, rgba(255,255,255,0) 78%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.campo-raca{
    color: #FEFEFE;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 15px 10px;
    background-color: #14070ae8;
    border-radius: 24px;
}
.topo-campo{
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #1d1518;
    align-items: center;
    padding:5px 0 5px 50px;
    border-radius: 75px;
    border: 1px #FFF5 solid;
}
.topo-campo .img{
    height: 100%;
    aspect-ratio: 1/1;
    width: auto;
    border-radius: 50%;
    margin-right: 5px;
    background-position: center;
    background-size: cover;
}
.topo-campo .img:hover{
    animation-name: move-imagem;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    margin-right: 30px;
}
.nome-raca{
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
}
.cao{
    background-color: #1d1518;
    border-radius: 30px;
    width: 90%;
    height: 60px;
    padding: 15px 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2px auto;
    border: solid 1px #0002;
    border: 1px #FFF5 solid;
}
.cao-btn a{
    color: #5e4cff;
    text-decoration: none;
}

.consult{
    width: 100%;
}
@keyframes move-imagem {
    from {margin-right: 0px;}
    to {margin-right: 30px;}
  }