*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Caminho */
  ::-webkit-scrollbar-track {
    background: #160f13;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #30282a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b11848;
  }